
@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>
<form action="" method="post">
    <input type="text" placeholder="Name" name="Name" class="form-control"/>
    <input type="text" placeholder="Dob" name="Dob" class="form-control"/>
    <input type="text" placeholder="Cgpa" name="Cgpa" class="form-control"/>
    <input type="submit" value="Create" class="btn btn-success"/>
</form>

