@model List<Association.DB.Cours>
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<form action="" method="post">
    <table class="table">
        @foreach (var item in Model)
        {
            <tr>
                <td><input type="checkbox" name="courses[]" value="@item.Id"> | @item.Name | @item.CourseStudents.Count </td>
            </tr>
        }
    </table>
    <input type="submit" class="btn btn-success" name="btn_submit" value="Register" />
</form>
