
@{
    ViewBag.Title = "Intro";
}

<h1>@TempData["CourseTeacher"]</h1>
<a class="btn btn-success" href="/my/outro">Outro</a>
<h1>Hello from @ViewData["course"] [@@ @ViewBag.Section]</h1>
@{ 
    int a = 10;

}
<h3>@a</h3>


