
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Outro</title>
</head>
<body>
    <div> 
        <a class="btn btn-danger" href="/my/intro">intro</a>
        <h1>Hello from Outro without layout @ViewBag.Section</h1>
    </div>
</body>
</html>
